# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
ios/Pods/
.idea/
.vscode/

# Firebase config files that might contain sensitive info
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# iOS specific
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android specific
android/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties